<% include partials/_header %>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>  
<script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js" crossorigin="anonymous"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="chat.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>

<div class="container">
  <div class="row">
    <!--FORM-->
    <div class="col-md-5 offset-md-3">
      <div class="card">
        <div class="card-body login-card-body">
          
    
          <form action="/login" method="POST" id="users">
            <div class="input-group mb-3">
              <input type="email" class="form-control"   name="email" placeholder="Email giriniz:">
             
            </div>
            <div class="input-group mb-3">
              <input type="password" class="form-control" name="password" placeholder="Şifreyi giriniz:">
             
            </div> 
            <div class="row">
              <div class="col-8">
               
              </div>
              <!-- /.col -->
              <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat ekle">Giriş Yap</button>
              </div>
              <!-- /.col --></form>
            </div>
         
    
          
          <!-- /.social-auth-links -->
          
       
          <p class="mb-0">
            <a href="/add" class="text-center" >Hesabınız yok mu?</a>
          </p>
        </div>
        <!-- /.login-card-body -->
      </div>
    
    
    </div>
  </div>
   
  <div class="container" style="margin-top: 150px;" >
    <div class="row">
      <!--FORM-->
      <div class="col-md-5 offset-md-3">
        <div class="card">
          <div class="card-body login-card-body">
            
      
            <form  id="messages">
              <div class="input-group mb-3">
              <h4  id="username" class="form-group">  </h4>
               
              </div>
              <div class="input-group mb-3">
                <input type="text" class="form-control"  id="message"  placeholder="Mesajı giriniz:">
               
              </div> 
              <div class="row">
                <div class="col-8">
                 
                </div>
                <!-- /.col -->
                <div class="col-4">
                  <button  id="send_message" class="btn btn-primary btn-block btn-flat ">Gönder</button>
                </div>
                <!-- /.col --></form>
              </div>
           
              <section id="messages_display">
                <!--gelen mesajlar buraya eklenecek-->
              </section>
            
            <!-- /.social-auth-links -->
            
       
          </div>
          <!-- /.login-card-body -->
        </div>
      
      
      </div>
    </div>
<% include partials/_footer%>
<script>
  $( ".ekle" ).click(function(event) {
      event.preventDefault();

      $.post("/login", $( "#users" ).serialize(), function( data ) {
        $("#username").html("");
          
           $( "#users")[0].reset();
          
           if (data.error) {
              
            $("#username").append(data.message); 
            
          
           } else {
          
              $(".ekle").notify(data.message,"error");
            //  window.location.replace('/addbook');
              
              
           }
           
           
           
       });
       
   });
  </script>